.Login {
  width: 1280px;
  height: 832px;
  position: relative;
  background: white;
}

.Fundo {
  width: 1280px;
  height: 832px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #353434;
  border: 1px black solid;
}

.Frame1 {
  width: 1280px;
  height: 832px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.Image10 {
  width: 474px;
  height: 832px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.Bg {
  width: 806px;
  height: 832px;
  left: 474px;
  top: 0px;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
}

.WelcomeToFunwall {
  width: 346px;
  height: 101px;
  left: 531px;
  top: 39px;
  position: absolute;
  color: #2f2f2f;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 48.78px;
}

.LoginWithGoogle {
  width: 696.62px;
  height: 69.04px;
  left: 539.4px;
  top: 172.6px;
  position: absolute;
}

.Rectangle2 {
  width: 696.62px;
  height: 69.04px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
}

.Group1 {
  width: 197.43px;
  height: 28.32px;
  left: 250.62px;
  top: 22.13px;
  position: absolute;
}

.Search1 {
  width: 32.73px;
  height: 28.32px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.Vector {
  position: absolute;
}

.LoginWithGoogleText {
  width: 145.26px;
  height: 19.47px;
  left: 52.17px;
  top: 4.43px;
  position: absolute;
  color: #2f2f2f;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.68px;
  word-wrap: break-word;
}

.LoginWithFacebook {
  width: 696.62px;
  height: 69.04px;
  left: 539.4px;
  top: 266.42px;
  position: absolute;
}

.Rectangle3 {
  width: 696.62px;
  height: 69.04px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
}

.Group2 {
  width: 204.59px;
  height: 28.32px;
  left: 245.5px;
  top: 22.13px;
  position: absolute;
}

.LoginWithFacebookText {
  width: 165.72px;
  height: 19.47px;
  left: 38.87px;
  top: 4.43px;
  position: absolute;
  color: #2f2f2f;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.68px;
  word-wrap: break-word;
}

.Or {
  width: 688.43px;
  height: 19.47px;
  left: 542.46px;
  top: 366.43px;
  position: absolute;
}

.Line1 {
  width: 298.7px;
  height: 0px;
  left: 0px;
  top: 9.74px;
  position: absolute;
  border: 1px #bfbfbf solid;
}

.Line2 {
  width: 294.61px;
  height: 0px;
  left: 393.83px;
  top: 9.74px;
  position: absolute;
  border: 1px #bfbfbf solid;
}

.OrText {
  width: 23.53px;
  height: 19.47px;
  left: 334.5px;
  top: 0px;
  position: absolute;
  color: #2f2f2f;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.68px;
  word-wrap: break-word;
}

.ForgotPassword {
  width: 146px;
  height: 20px;
  left: 1085px;
  top: 593px;
  position: absolute;
  color: #6358dc;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.68px;
  word-wrap: break-word;
}

.Email {
  width: 686.39px;
  height: 68.15px;
  left: 549.62px;
  top: 417.77px;
  position: absolute;
}

.Rectangle4 {
  width: 686.39px;
  height: 68.15px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #ececec;
  border-radius: 8px;
}

.EmailText {
  width: 33.76px;
  height: 14.16px;
  left: 83.88px;
  top: 13.28px;
  position: absolute;
  color: #2f2f2f;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 16.26px;
  word-wrap: break-word;
}

.ExampleGmailCom {
  width: 184.13px;
  height: 19.47px;
  left: 83.88px;
  top: 32.75px;
  position: absolute;
  color: #2f2f2f;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 21.68px;
  word-wrap: break-word;
}

.Password {
  width: 686.39px;
  height: 68.15px;
  left: 549.62px;
  top: 503.63px;
  position: absolute;
}

.Rectangle5 {
  width: 686.39px;
  height: 68.15px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #ececec;
  border-radius: 8px;
}

.PasswordText {
  width: 59.33px;
  height: 14.16px;
  left: 83.88px;
  top: 13.28px;
  position: absolute;
  color: #2f2f2f;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 16.26px;
  word-wrap: break-word;
}

.PasswordHidden {
  width: 97.18px;
  height: 19.47px;
  left: 83.88px;
  top: 38.06px;
  position: absolute;
  color: #2f2f2f;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 21.68px;
  word-wrap: break-word;
}

.BiEyeFill {
  width: 22.5px;
  height: 19.47px;
  left: 642.4px;
  top: 28.32px;
  position: absolute;
}

.Group {
  width: 22.5px;
  height: 13.39px;
  left: 0px;
  top: 3.04px;
  position: absolute;
}

.Button {
  width: 686.39px;
  height: 68.15px;
  left: 549.62px;
  top: 633.74px;
  position: absolute;
}

.Rectangle6 {
  width: 686.39px;
  height: 68.15px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #6358dc;
  border-radius: 8px;
}

.LoginText {
  width: 45.01px;
  height: 19.47px;
  left: 320.18px;
  top: 23.9px;
  position: absolute;
  color: white;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 21.68px;
  word-wrap: break-word;
}

.RememberMe {
  width: 156.51px;
  height: 19.47px;
  left: 551.67px;
  top: 593.02px;
  position: absolute;
}

.RememberMeText {
  width: 122.75px;
  height: 19.47px;
  left: 33.76px;
  top: 0px;
  position: absolute;
  color: #2f2f2f;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.68px;
  word-wrap: break-word;
}

.Check {
  width: 18.41px;
  height: 15.93px;
  left: 0px;
  top: 1.77px;
  position: absolute;
  background: #ececec;
  border-radius: 4px;
  border: 1px #d9d9d9 solid;
}

.DonTHaveAnAccountRegister {
  width: 264px;
  height: 18px;
  left: 745px;
  top: 744px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.68px;
  word-wrap: break-word;
}
